/* @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap'); */

@import url('https://fonts.cdnfonts.com/css/major-mono-display?styles=31334');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap');

                
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}


/* Header */
.header {
    background-color: black;
    margin: 0px;
    padding: 0px;

}
.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    /* align-content: center; */
    justify-content: space-between;
    
  
    
}

.left-side {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    
}

#logo {
    object-fit: none;
    padding: 0px 20px;
    margin: 0px 10px;
    /* justify-content: flex-start; */
}

#commonplace-coop {
    font-size: 32px;
    font-weight: 400;
    font-family: "Major Mono Display", sans-serif;
    color: white;
    padding: 0px;

    /* font-style: normal;
    font-stretch: normal;
    text-align: start;
    line-height: initial;
    font-optical-sizing: auto; */
}

.right-side {
   /* border: solid black; */
   /* display: flex; */

   padding: 0px 30px;
   
    /* justify-content: flex-end; */
}

.site-routes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px 0 0;
    
    font-family: 'Major Mono Display', sans-serif;
    


}

#services {
    color: #CAD4FF;
    padding: 12px 20px;
    
    

}

#media {
    color: #BEFDEA;
    padding: 12px 20px;
    
}

#events {
    color: #BEFDEA;
    padding: 12px 20px;
    
}

#about {
    color: #CAD4FF;
    padding: 12px 20px;
    
}

#join {
    color: #FFA89B;
    padding: 12px 20px;
    font-size: 24px;
}

/* #services, #media, 
#events, #about, #join {
    display: flex;
    padding: 12px 20px;
    
} */



/* Section One */


.white-space-one {
    margin: 400px 0px 0px 0px;
    padding: 0px;
    background-color: white;
}

 .tagline-one {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 0px;
    padding: 0px 0px;
    
    
} 

#commonplace {
    color: black;
    font-family: 'Major Mono Display', Arial, Helvetica;
    font-size: 96px;
    line-height: 84px;
    margin: 0px 0px 0px 0px;
    padding: 0 0px 0 0;
}
.text-right {
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 32px;
    margin: 0px;
    padding: 5px 0px 5px 0px;
    
}


#where {
    margin: 0px 0% -10px 0px;
    padding: 10px 0px 0px 0px;
  
}

#cooperation {
margin: auto;
padding: auto;
}

.black-space {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: black;
}

.tagline-two {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 0px;
    padding: 0px 0px;
}

#cooperative {
    color: white;
    font-family: 'Major Mono Display', Arial, Helvetica;
    font-size: 96px;
    line-height: 84px;
    margin: 0 0px 0 0;
    padding: 0 0px 0 0;
}

#is-common {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 32px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: right;
}

.white-space-two {
    margin: 100px 0px 0px 0px;
    padding: 0px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hook {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
   
}

#hook-one, #hook-two, #hook-three{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

/* #hook-two {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#hook-three {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
} */
.blurb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0px 20px 0px;
    padding: 20px 0px 20px 0px;
}
.blurb-rect {
    width: 765px;
    height: 257px;
    background-color: #FAF5F4;
    
}

.blurb-text {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
}








